<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="d-flex align-items-center justify-content-center">
            <span class="badge bg-primary me-2 fs-6">{{userNameAuthenticated}}</span>
            <button 
                class="btn btn-danger" 
                type="submit" 
                (click)="logout()">
                <span
                    *ngIf="loadLogout" 
                    class="spinner-border spinner-border-sm" 
                    role="status" 
                    aria-hidden="true">
                </span>
                Logout
            </button>
        </div>
    </div>
  </nav>
